@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
    box-sizing: border-box;
}

html {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', serif;
    font-size: px;
}

main {
    margin: 0px auto;
    width: 100%;
    
}

table {
    border-collapse: collapse;
    border-spacing: 0px;
}

main > * {
    margin: 15px auto;
}

main > table {
    width: 100%;
    background: #f7fafa;
}

.footerdiv {
    color: #0293a4;
}

.lefttd {
    width: 29.5%;
}

.midtd {
    width: 1%;
    background: #0293a4;
}

.righttd {
    width: 69.5%;
}


.maindiv {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.leftdiv {
    height: 100%;
}

.leftdiv > table {
    text-align: center;
    width: 100%;
}

.middiv {
    background: red;
}

.rightdiv {
}

.rightdiv > table {
    width: 100%;
    height: 100%;
    border-collapse: separate;
    border-spacing: 10px;
}

.cntbxa, .cntbxa:active, .cntbxa:visited {
    color: #333;
    text-decoration: none;
}

.cntbxa:hover {
    color: #555;
    text-decoration: underline;
}

.affntylgo {
    margin: 0px 25%;
    width: 50%;
}

.affnty {
    color: #0293a4;
}

.affntya, .affntya:active, .affntya:visited {
    color: #0293a4;
    text-decoration: none;
}

.avatar {
    width: 75%;
    border-radius: 50%;
}

table, tr, td {
    border: none;
}